@model IEnumerable<MenuItem>

@foreach (var subcategoryGroup in Model.GroupBy(m => m.SubCategory))
{ 
    <h3 class="menu-link">
        <a href="@Url.Action("Index", "Customer", new { area = "User" })">Menu</a> /
        <span class="subcategory-name">@subcategoryGroup.Key</span>
    </h3>
    <h1>@subcategoryGroup.Key</h1>
    <div class="category-group">
        @foreach (var typeGroup in subcategoryGroup.GroupBy(m => m.Type))
        {
            <h2>@typeGroup.Key</h2>
            <div class="subcategory-group">
                @foreach (var menuItem in typeGroup)
                {
                    <div class="menu-item" onclick="window.location='@Url.Action("ItemSelected", "Customer", new { Subcategory = menuItem.SubCategory, ItemName = menuItem.ItemName, size = "M" })'">
                        <div class="img-item" style="cursor: pointer;">
                            <img src="@menuItem.ItemImg" alt="@menuItem.ItemName" />
                        </div>
                        <h3 class="menu-item-name">@menuItem.ItemName</h3>
                    </div>
                }
            </div>
        }
    </div>
}
