@model IEnumerable<highlands.Models.MenuItem>

@if (!Model.Any())
{
    <h2>No results found.</h2>
}
else
{
    <h2>Search Results</h2>
    <div class="search-result-group">
        @foreach (var item in Model)
        {
            <div class="menu-item-search" onclick="window.location='@Url.Action("ItemSelected", "Customer", new { Subcategory = item.SubCategory, ItemName = item.ItemName, size = "M" })'">
                <div class="img-item">
                    <img src="@item.ItemImg" alt="@item.ItemName" />
                </div>
                <h3 class="menu-item-name">@item.ItemName</h3>
            </div>
        }
    </div>
}
@if (ViewBag.TotalPages > 1)
{
    <div class="pagination">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <button class="page-btn" onclick="searchMenu(@i)">@i</button>
        }
    </div>
}
